.container{
    
    width: 300px;
    
}

.work_slider{
    height: 43px;
    border: 2px solid red;
    border-radius: 20px;
    width: 100%;
}

.thumb{
    background-color: red;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 50%;
}

.break_slider{
    height: 43px;
    border: 2px solid #00c853;
    border-radius: 20px;
    width: 100%;
}

.break_thumb{
    background-color: #00c853;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 50%;
}