.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    
}

.work_slider{
    height: 43px;
    border: 2px solid red;
    border-radius: 20px;
    width: 100%;
}

.thumb{
    background-color: red;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 50%;
}

.break_slider{
    height: 43px;
    border: 2px solid #00c853;
    border-radius: 20px;
    width: 100%;
}

.break_thumb{
    background-color: #00c853;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 50%;
}

.back_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border: 2px solid #000;
    width: fit-content;
    border-radius: 50%;
}