.collection{
    width: 30%;
    margin: 5px 0 0 15px;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    padding: 10px;
    background-color: #c6ff00;
    margin-top: 5px;
    border-radius: 20px;
}

.delete_btn{
    color: #ff3d00;
    cursor: pointer;
}