.flex{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    max-height: 50px;
    margin: 5px 0 0 15px;
}

.btn {
    background-color: #64ffda;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
    width: 40%;
    box-shadow: 4px 4px 10px rgba(0,0,0, 0.25);
    font-family: Manrope;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 27px;
    color: #263238;
    cursor: pointer;
    text-align: center;
}

.input {
    border: none;
    width: 100%;
    background: #a7ffeb;
    border-radius: 5px 0px 0px 5px;

    font-family: Manrope;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: #263238;
    outline: none;
}